main {
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: 2fr auto 5fr 5fr 1fr;
  grid-template-areas: '.' 'resume' 'projects' 'nav' 'footer';
}

/* media queries for other grid setups */

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  main {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 'nav .' 'resume resume' 'projects projects' 'footer footer';
  }
}

@media screen and (min-width: 48rem) {
  main {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 5em 5em auto auto;
    grid-template-areas: 'resume nav' 'resume projects' 'resume .' 'footer footer';
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.projects {
  grid-area: projects;
}

.resume {
  grid-area: resume;
}

footer {
  grid-area: footer;
}
