.periodic-table-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 5fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr 2fr;
  grid-template-areas:
    'alkali . . . nobles'
    'alkali alkaline-earth . metalloids-ish nobles'
    'alkali alkaline-earth metals metalloids-ish nobles'
    '. . . . .'
    '. . weirdos weirdos weirdos';
}

.alkali {
  grid-area: alkali;
}

.alkaline-earth {
  grid-area: alkaline-earth;
}

.metals {
  grid-area: metals;
}

.metalloids-ish {
  grid-area: metalloids-ish;
}

.nobles {
  grid-area: nobles;
}

.weirdos {
  grid-area: weirdos;
}
